@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./bg3.webp");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;

  img {
    height: 20rem;
  }

  span {
    color: #4e0eff;
  }
}

.adj {
  width: 100px;
}

.link {
  color: #4e0eff;
  text-decoration: none;
  font-weight: bold;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;



}

.img {
  height: 5rem;
}
.text{
  color: white;
}

.t2:hover{
  color: black;
}
.icon {


  cursor: pointer;
  
    width:36px;
    height:36px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
    transition: all ease-in-out;



}

.icon:hover {

  /* background-color:#1d9bf0; */

}
.smile{
  color:#1d9bf0 ;
  font-size: 22px;
  
}

.scroll{
  overflow-x: hidden;
  overflow-y: scroll;
}